@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.mySwiper .swiper-pagination-fraction {
    position: absolute;
    width: 55px;
    height: 22px;
    border-radius: 0.75rem /* 12px */;
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
    opacity: 0.5;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    font-size: 13px;
    font-weight: 700;
    left: 82%;
    top: 0.5rem;
    z-index: 2;
}

.mySwiper .swiper-button-next .swiper-button-prev {
    position: absolute;
    right: 0;
    top: 1/2;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -50%;
    width: 40px;
    height: 40px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: black !important;
}

/* cart page */
#switch {
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
    background: #d8d8d8;
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label:hover {
    background: #efefef;
}
.onf_btn {
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 020px;
    background: white;
    transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
    background: #222222;
}

/* move */
#switch:checked + .switch_label .onf_btn {
    left: 11px;
    background: #fff;
}
