.login_txt{
    position: relative;
    height: 42px;
    padding: 0 50px;
    border-bottom: 1px solid #bcbcbc;
    background-color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.login_txt .login_txt1{
    overflow: hidden;
  font-size: 16px;
  color: #222;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  width: 100%;
}